
body {
    width:1500px;
    background-image:url(../images/white-waves.png) ;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif
    
}

h1{
    font-family: 'Times New Roman', Times, serif
}

.top {
    background-color: white;
    padding-top: 40px;
    border-bottom: 8px;
    border-bottom-color: #cccccc;
}

.middle {

    width: 960px;
    margin-top: 40px;
    margin-left: 270px;
    background-color: #ffffff;
    padding-bottom: 50px;
    border: 8px;
    border-color: #dddddd;

}

#pagelinks {
        float: right;
}

#pic {
    float: left; 
}

#bioheader {
    color: #4aaaa5;

}

#name {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#4aaaa5;
    width: 20%;
    margin-left: 270px;
    font-size: x-large;
    color: white;
}

input[type=text] {

}
.footer {
    display: block;
    background-color: #4aaaa5;
}