
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image:url(../images/white-waves.png) ;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.content {
    min-height: calc(100vh - 70px);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}


header {
    height: 28% ;
    width: 100% ;
    padding-top: 1% ;
    margin-top: 0px;
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-bottom-color: #cccccc;
}
#name {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:#4aaaa5;
    width: 15%;
    margin-left: 270px;
    margin-bottom: 0px;
    font-size: x-large;
    color: white;
    float: left;

}




#links {
   float: right;
   margin-right: 299px;
   margin-top: 65px;
}

a {
    text-decoration: none;
    color: #777777;
    
}


.middle {

    width: 960px;
    margin-top: 40px;
    margin-right: 270px;
    margin-left: 270px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dddddd;

}

#bio {
    margin: 2%;
}
#bioheader {
    color: #4aaaa5;
    padding-bottom: 2%;
    border-bottom: 2px solid;
    border-color: #dddddd;

}
#pic {
    float: left; 
    margin-right: 2%;
}





input[type=text] {



}

.footer {
    height: 50px;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
  }